body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  /* background-color: aqua; */
}

#top {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 4px solid #423C52;
  border-bottom: 2px solid#EDEDED;
  flex-direction: column;
  position: relative;
  /* background-color: blueviolet; */
  padding: 10px;
}

#title {
  font-size: 35px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  /* background-color: blueviolet; */
}

#subTitle {
  font-size: 12px;
  font-weight: 500;
  margin: 0;
  padding: 0;
  color: #717171;
  /* background-color: royalblue; */
}

#icon {
  position: absolute;
  left: 0;
  margin-left: 15px;
}

#enableSide {
  cursor: pointer;
  border: none;
  background: none;
  font-size: x-large;
  font-weight: bolder;
}

#sideBox {
  display: flex;
  width: 17%;
  /* background-color: firebrick; */
  height: 100vh;
  flex-direction: column;
  border-right: 2px solid#EDEDED;
  position: relative;

}

#sideTitle {
  display: flex;
  font-size: 25px;
  font-weight: 700;
  border-bottom: 2px solid#EDEDED;
  padding-bottom: 7px;
  padding-top: 7px;
  /* background-color: aqua; */
  position: relative;
}

#addNote {
  cursor: pointer;
  border: none;
  background: none;
  font-size: x-large;
  right: 0;
  position: absolute;
  font-size: 25px;
  top: 0;
  bottom: 0;
  width: 50px;
}

#sideData {
  display: flex;
}

#mainBox {
  width: 83%;
  /* background-color: darkgoldenrod; */
  height: 100vh;
}

#middle {
  display: flex;
  /* background-color: royalblue; */
}

p {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
